.communityContainer {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the background fixed in place while scrolling */
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto; /* Ensures the content scrolls */
}

.communityContainer h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
}

.stallsList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.stall {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 20px;
    width: 350px;
    display: flex;
    align-items: center;
}

.stallImageContainer {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.stallImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stallDetails {
    flex-grow: 1;
}

.stallDetails h2 {
    font-size: 24px;
    margin: 0;
}

.stallDetails p {
    font-size: 16px;
    margin: 10px 0;
}

.stallDetails button {
    background-color: #062536;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.stallDetails button:hover {
    background-color: #08415c;
}

.buttonContainer {
    margin-top: 10px;
}
