.footer-container {
  width: 100%;
  background-color: #062536;
  color: white;
  padding: 20px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo {
  margin-bottom: 10px;
}

.logo {
  width: 80px;
  height: auto;
}

.footer-description {
  max-width: 90%; /* Reduce max width for better mobile fit */
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.footer-section {
  margin-bottom: 20px;
  text-align: center;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.footer-section ul li a:hover {
  cursor: pointer;
  color: #C8C060;
  text-decoration: underline;
}

.footer-bottom {
  width: 100%;
  background-color: #062536;
  text-align: center;
  padding: 5px 0;
  border-top: 1px solid #ccc;
  font-size: 12px;
  margin-top: 10px;
}

/* Media Queries for Responsive Layout */
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 0 20px;
  }

  .footer-description {
    max-width: 600px;
    margin-bottom: 0;
  }

  .footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 20px;
    width: 60%; /* Adjust to match the layout */
    margin-bottom: 0;
    align-items: flex-start;
  }

  .footer-section {
    margin-bottom: 0;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .footer-description {
    font-size: 14px;
    padding: 0 10px;
  }

  .footer-section h4 {
    font-size: 14px;
  }

  .footer-section ul li {
    margin-bottom: 5px;
  }

  .footer-bottom {
    font-size: 12px;
    padding: 3px 0;
  }
}
