/* Navbar CSS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #062536;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px;
  width: 50px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 5px;
}

.nav-link:hover {
  background-color: #788080;
}

/* Mobile view */
@media (max-width: 600px) {
  .nav-links {
    display: none; /* Hide links on mobile */
  }

  .logo {
    padding-left: 10px;
  }
}
