.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: #062536;
  color: white;
}

.navbar .logo {
  display: flex;       /* This will make the elements inside .logo align horizontally */
  align-items: center; /* This will vertically center the text with the logo image */
}

.navbar .logo img {
  height: 50px;
}

.navbar .logo span {
  margin-left: 15px;
  font-size: 24px;
  font-weight: bold;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  padding: 15px 100px;
  margin: 0 5px;
}

.navbar .nav-links a:hover {
  background-color: #788080;
}
