/* General Settings */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root, .App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Routes {
  flex: 1;
}

.footer-container {
  margin-top: auto; /* This pushes the footer to the bottom */
}

/* For Navbar */
.main-content {
  margin-left: 250px; /* Width of the sidebar when open */
  transition: margin-left 0.3s ease;
  padding: 20px;
  width: calc(100% - 250px);
}

.sidebar.closed + .main-content {
  margin-left: 60px; /* Width of the sidebar when closed */
  width: calc(100% - 60px);
}