html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #E9E9E9;
  font-size: 28px;
  min-height: 100vh; /* Ensures the App covers the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; /* Ensures the container spans the full width */
  height: 100vh; /* Ensures the container covers the full viewport height */
  background-color: #E9E9E9;
}

.square {
  width: 200px; /* Adjust width as needed */
  height: 125px; /* Adjust height as needed */
  background-color: #0D5369; /* Dark teal color, adjust color code as needed */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Adjust font size as needed */
  cursor: pointer;
  text-align: center;
  padding: 7%;
  margin: 0 10px;
}

.square:hover {
  background-color: #648e9b; /* Lighter teal color on hover */
}

/* For Navbar */
.main-content {
  margin-left: 250px; /* Width of the sidebar when open */
  transition: margin-left 0.3s ease;
  padding: 20px;
  width: calc(100% - 250px);
}

.sidebar.closed + .main-content {
  margin-left: 60px; /* Width of the sidebar when closed */
  width: calc(100% - 60px);
}